.App {
  text-align: center;
}

html {
  font-size: 62.5%;
}
.navbar {
 
  width: 480px;
  margin: 0 auto;
  border-radius: 1rem;
  border-bottom: 1px solid #ddd;
}

.navbar h1 {
  font-size: 3.8rem;
}

.navbar p {
  font-size: 1.6rem;
  margin: 1rem;
}
